# v-envs
tensorflow

# ros2
browse.vc.db
workspace/build/
workspace/install/
workspace/log/

# Python caching & build artifacts
**/__pycache__/
*.pyc
*.egg-info/

# Local files
tree.txt

# other
Icon?
.DS_Store
