<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>Riconoscimento Mano via Web</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            background-color: #282c34;
            color: white;
            margin-top: 50px;
        }

        img {
            border: 5px solid #61dafb;
            border-radius: 10px;
        }
    </style>
</head>

<body>
    <h1>Streaming Video con MediaPipe e Flask</h1>
    <img src="{{ url_for('video_feed') }}" width="640" height="480">
</body>

</html>